<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/output.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>{% block title %}Default Title{% endblock title %}</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=cognition,search" />
</head>

<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <nav class="shadow-sm">
        <div class="container flex justify-between p-4">

            <a class="text-base-950 font-bold flex items-center" href={{ url_for('list_prompts') }}>
                <span class="material-symbols-outlined mr-1">cognition</span>
                <span class="text-bold text-xl">PromptLab</span>
            </a>
        </div>
    </nav>

    {% block content %}{% endblock content%}

    {% block scripts %}{% endblock scripts %}
</body>

</html>